.button {
    width: auto;
    height: 50px;

    padding: 0 16px;

    background-color: #dddddd;

    cursor: pointer;

    font-size: 20px;

    font-weight: 500;

}

.button:hover{
    background-color: #858585;
}