.App {
  text-align: center;
  position: relative;

  width: 100%;
  height: 100%;

  overflow: hidden;

  display: flex;
}

.container {
  width: 50%;
  height: 80%;

  margin: 50px 16px;

  background-color: #dddddd;

  display: flex;
  flex-direction: column;

  overflow: scroll;
  overflow-x: hidden;

  padding: 0 0 16px;
}

.container-answer {
  width: 40%;
  height: 80%;

  margin: 50px 16px;

  border: 1px solid black;

  overflow: scroll;
  overflow-x: hidden;
}

.group-container {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin-bottom: 10px;
}

.group-header {
  margin: 10px;
}

.group-item{
 padding: 16px 16px 0;

 display: flex;
 flex-direction: column;
 justify-content: start;
}

.group-item_text {
  margin: 0;
  padding: 0 0 10px;

  text-align: left;
}

.group-item_input {
  height: 32px;

  font-size: 18px;
}


.group-footer {
  margin-top: 16px;
}

.answer-container{
  margin: 16px;

  text-align: justify;
}